{% load static %}
{% static "images" as statimgsrc %}
<!DOCTYPE>
<html lang="en">

<head>

</head>

<body>

    <div class="titlebg">

        <nav >
            
            <a class="navbar-brand" href="/">
                
            
            <div>
                <ul>
                    <li>
                        <a  href="/search/space/">
                            <p1>Residence</p1>
                        </a>

                    </li>
                    <li>
                        <a href="/search/restaurant/">
                            <p1>Restaurants</p1>
                        </a>

                    </li>
                    <li>
                        <a href="/search/guide/">
                            <p1>Guide</p1>
                        </a>

                    </li>
                    <li>
                        <a href="/blog/bloglist/">
                            <p1>Blog</p1>
                        </a>

                    </li>
                </ul>



                <ul class="navbar-nav ml-auto">
                    
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="#"  role="button">
                            <button type="button" >
                                <p2>Profile</p2>
                            </button>
                        </a>
                        <div>
                            <a  href="/profile/">View Profile</a>
                            <a  href="/home/">My Feeds</a>
                            <a  href="/restaurant/gotocart/">My Carts</a>
                            <a  href="/my_orders/">My Orders</a>
                            <a href="/accounts/logout/">Sign Out</a>
                        </div>
                    </li>
                    {% else %}


                    <li>
                        <a href="/accounts/login/">
                            <button type="button" >
                                <p2>Login</p2>
                            </button>
                        </a>
                    </li>
                    or
                    <li>
                        <a href="/accounts/register/">
                            <button type="button" >
                                <p2>Register</p2>
                            </button>
                        </a>
                    </li>

                    {% endif %}
                    
                </ul>
            </div>
        </nav>
    </div>







    {% block content_2 %}

    {% endblock content_2 %}


    {% block body_op %}

    {% endblock %}


</body>

</html>